<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.infinum.shows_bruno_sacaric">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".MyInfinumApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_shows_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_shows_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.SplashActivity"
                  android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.ShowsContainerActivity"
                android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.infinum.shows_bruno_sacaric.ui.login.LoginActivity"/>
        <activity
                android:name="com.infinum.shows_bruno_sacaric.ui.login.WelcomeActivity"
                android:noHistory="true"/>
        <activity
                android:name="com.infinum.shows_bruno_sacaric.ui.login.RegisterActivity"
                android:noHistory="true"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.sajo.android.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>